/* VARIABLES */
:root {
  --body-bg-color: #22323D;
  --header-bg-color: #081C24;
  --list-item-bg-color: #2A3A44;
  --list-item-text-color: #9DA4A9;
  --green: #00AA60;

  --header-header-color: #fff;
}

/* RESET */
  body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  h1, h2, h3 {
    color: var(--header-header-color);
  }

  h1, h2 {
    margin: 0;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
  }

/* LAYOUT */
  .container_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

/* STYLE */
  body {
    background-color: var(--body-bg-color);
    font-family: 'Roboto', sans-serif;
  }

  button {
    background-color: var(--green);
    border-radius: 8px;
    padding: 10px 20px;
    color: var(--header-header-color);
    border: 0;
    cursor: pointer;
    font-size: 14px;
  }

  /* HEADER */
    header {
      background-color: var(--header-bg-color);
      padding: 10px 0;
    }

  /* RESULTS */
    li {
      height: 138px;
      background-color: var(--list-item-bg-color);
      color: var(--header-h1-color);
      list-style-type: none;
      padding: 0 40px 0 0;
      display: flex;
    }

    h3 {
      margin: 0 0 10px 0;
    }

    h3 span {
      color: var(--list-item-text-color);
    }

    .box_1 {
      padding: 15px 10px 15px 20px;
      flex: 5;
    }

    .info {
      display: block;
      color: var(--list-item-text-color);
      font-size: 14px;
      line-height: 18px;
    }

    .box_2 {
      display: flex;
      flex: 1.5;
      justify-content: center;
      align-items: center;
      margin: 15px 0;
      border-left: 1px solid var(--list-item-text-color);
    }

    .box_2 img {
      width: 20px;
      margin-right: 30px;
      cursor: pointer;
    }

    .box_2 button {
      width: 60%;
    }

    #controls {
      margin-bottom: 20px;
    }

  /* SEARCH */

    h2 {
      margin-bottom: 40px;
    }

    .search_trigger {
      display: flex;
      justify-content: center;
    }

    .search_trigger_inner {
      display: flex;
      width: 80%;
    }

    .search {
      width: 500px;
      margin: 20px auto;
    }

    input[type="text"] {
      display: block;
      padding: 8px 50px 8px 10px;
      border: 0;
      width: 100%;
      -webkit-appearance: none;
      border-radius: 20px;
      background-color: #fff;
      font-size: 14px;
    }

    svg {
      margin-left: -50px;
      width: 32px;
      cursor: pointer;
    }